.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}

.carousel {
  display: flex;
  cursor: grab;

}

.carousel:active {
  cursor: grabbing;
}

.carousel-item {
  flex: 0 0 auto;
  width: 175px;
  height: 125px;
  margin-right: 20px;
  border-radius: 10px;
  border: 3px solid #555;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);



  transition: transform 0.3s ease;
}

.carousel-item.selected {
  transform: scale(1.1);
  border: 3px solid #00d1ff;
  box-shadow: 0 0 10px #00d1ff;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.carousel-item:hover {
  transform: scale(1.05);
}

/* might utilise this still */
/* .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */