.carousel {
    display: flex;
    gap: 10px;
    padding: 10px;
}



.mainImage {
    border: 4px solid #555;
    border-radius: 8px;
    cursor: pointer;
}



.air-datepicker-cell.has-image {

    background: #32e5f97b;
    color: #000 !important;
    border-radius: 6px;
    font-weight: 600;
}

.callendar-wavelengths {
    display: flex;
}