/* .carousel {
    display: flex;
    gap: 10px;
    padding: 10px;
} */

.mainImage-container {
    display: flex;
    gap: 20px;

    align-items: flex-start;
}

.mainImage {
    /* max-width: 100%; */
    height: auto;
    flex: 0 0 auto;
    border: 4px solid #555;
    border-radius: 8px;
    cursor: pointer;
}




.air-datepicker-cell.has-image {

    background: #32e5f97b;
    color: #000 !important;
    border-radius: 6px;
    font-weight: 600;
}


.callendar-wavelengths {
    display: flex;
    padding: 20px;
    /* background: #000000d4; */

}



/* .dates {
    background: #000000d4;
} */

.both-button {
    display: grid;
    gap: 10px;
}

.callendar-btn {
    width: 250px;
}

@media only screen and (max-width: 1000px) {
    .whole-container {
        width: 40rem;
        height: auto;
    }


    .mainImage-container {
        display: grid;
        /* overflow: scroll; */
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .mainImage {
        width: 40rem;
        height: auto;
        align-self: center;
    }


    .callendar {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }



    .callendar-wavelengths {
        display: block;
        padding: 20px;
        /* background: #000000d4; */

    }



}