.recentContainer {
    display: flex;
    gap: 2%;
    align-content: start;
    align-items: stretch;
}

.recentImageCNTR {
    width: 674px;
    height: 500px;
    align-self: center;
}


.recentSelect {
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.recentSelect h1 {
    align-self: center;
}


.recentSelect select {
    width: 200px;
    height: 45px;
    font-size: 1.1rem;
    padding: 8px 12px;
    border: 2px solid #555;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}


.recentSelect select:hover,
.recentSelect select:focus {
    background-color: #333;
    border-color: #888;


}


.recentText {
    text-align: left;
}

.recentImageCNTR img {

    border: 4px solid #555;
    border-radius: 8px;
    cursor: pointer;

}

@media only screen and (max-width: 768px) {



    .recentContainer {

        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }




    .recentSelect {

        align-self: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

}