#root {
  max-width: 1280px;
  margin: 0 auto;
  /* margin-top: -15%; */
  padding: 2rem;
  text-align: center;
  /* height: 100%;
  min-height: 100vh; */
}

html,
body,
#root {
  background: linear-gradient(0deg, rgba(8, 8, 9, 1) 39%, rgba(5, 2, 23, 1) 98%);
}

html,
body {
  margin: 0;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logoCollection {
  position: static;
  top: center;
  margin-left: 140px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}

.title {
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  text-align: center;
  margin: auto;

}

.spacer {
  height: 100px;
}